*.log
R.java
nbproject
*.tar.gz
cityguide
cxx
datanucleus-samples-jdo-tutorial-2.1
gae
groovy
jplay
jsr234
misc
qt
svn_play
build
bin
dist
grails
warwickhunter.github.com
gwt
jsf
javafx/FXMLExample/nbproject/private/
javafx/FXMLExample/dist/
javafx/ColourCircles/nbproject/private/
javafx/ColourCircles/dist/
javafx/IssueTrackingLite/nbproject/private/
classes
.gradle
.settings
